.sides {
  display: flex;
  flex-direction: column;
  width: 24%;
  align-items: center;
}

.welcome_input label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
}

.welcome_input input {
  background-color: transparent;
  border: 1px solid black;
  padding: 5px;
  font-size: 20px;
}

.welcome_input input:focus {
  outline: none;
  border: 2px solid #720026;
}